<!DOCTYPE html>
<HTML ng-app="ClassyAngular">
    <HEAD><title>Recipes</title></HEAD>
    <BODY>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
        <script type="text/javascript" src="static/js/app.js"></script>
        <div ui-view>UI ROUTER STUFF</div>
        <div ng-controller="RecipesCtrl">[[myRecipe]]</div>
    </BODY>
</HTML>
